<section class="referanser" id="4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.referanser.title }}</h2>
                </div>
                <p class="lead">{{ .Site.Params.referanser.subtitle }}
                </p>
            </div>
            <!--KUNDECASE-->
            <br>
            <div class="col-md-12 referansecase">
                <div class="row no-gutters">
                    <div class="col-6"><img class="img-fluid" src="/pointtaken/img/startup-photos.jpg" alt="TV2" /></div>
                    <div class="col-6" style="padding:2rem">
                        <p class="lead">Hva vi gjorde for denne kunden</p>
                        <a class="btn btn-primary" href="#" role="button">Les mer</a>
                    </div>
                </div>
            </div>
            <!--KUNDECASE-->
            <br>
            <div class="col-md-12 referansecase">
                <div class="row no-gutters">
                    <div class="col-6"><img class="img-fluid" src="/pointtaken/img/write.jpg" alt="TV2" /></div>
                    <div class="col-6" style="padding:2rem">
                        <p class="lead">Hva vi gjorde for denne kunden</p>
                        <a class="btn btn-primary" href="#" role="button">Les mer</a>
                    </div>
                </div>
            </div>                                  
        </div>
    </div>
</section>
  