<section class="referanser">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.referanser.title }}</h2>
                </div>
                <p class="lead">{{ .Site.Params.referanser.subtitle }}
                </p>
            </div> -->
            <!--KUNDECASE-->
            <br>
            <div class="col-md-12 referansecase">
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-6"><img class="img-fluid" src="/img/group/1.jpg" alt="TV2" /></div>
                    <div class="col-md-12 col-lg-6 p-5">
                        <div class="heading">
                            <h2>Microsoft 365</h2>
                        </div>
                        
                        <p>En komplett løsning for din bedrift med Windows 10, Office 365 og sikkerhetspakke tilpasset din bedrift.</p>
                        <a class="btn btn-primary btn-out mt-2" href="/microsoft365/" role="button">Les mer om Microsoft 365</a>
                    </div>
                </div>
            </div>
            <!--KUNDECASE-->
            <br>
            <div class="col-md-12 referansecase">
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-6 p-5">
                        <div class="heading">
                            <h2>Rådgivning og utvikling</h2>
                        </div>
                            
                        <p>Vi er spesialister på teknisk og strategisk rådgivning i alt din bedrift trenger for å jobbe smartere, sikkert og mer effektivt. Våre utviklere tilpasser og integrerer løsningene for din virksomhet.</p>
                        <a class="btn btn-primary btn-out mt-2" href="/rådgivning/" role="button">Les mer om rådgivning</a>
                        </div>                        
                    <div class="col-md-12 col-lg-6"><img class="img-fluid" src="/img/group/2.jpg" alt="TV2" /></div>
                </div>
            </div>
            <!--KUNDECASE-->
            <br>
            <div class="col-md-12 referansecase">
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-6"><img class="img-fluid" src="/img/group/4.jpg" alt="TV2" /></div>
                    <div class="col-md-12 col-lg-6 p-5">
                        <div class="heading">
                            <h2>Kurs</h2>
                        </div>
                        
                        <p>Vi deler gjerne av vår kunnskap om produktene og systemene vi leverer.</p>
                        <p>Vi holder kursene i dine lokaler på ditt system for størst mulig utbytte.</p>
                        <a class="btn btn-primary btn-out mt-2" href="/kurs/" role="button">Les mer om kurs</a>
                    </div>
                </div>
            </div>                                             
        </div>
    </div>
</section>
  